/*#region CSS reset*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*#endregion */

*{
    font-family:cursive;
}

@media screen and (min-width: 768px) {}

body{
    background-color: antiquewhite;
}

.container {
    display: grid;
    justify-content: center;
    align-items: center;
}

.quiz-options {
    width: 35vw;
    height: 50vh;
    background-color: aliceblue;
    border-radius: 40px;
    box-shadow: 10px 10px 5px black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1{
    justify-self: center;
    font-size: 2rem;
    font-weight: bold;
    margin: 100px;
}

.quiz-option{
    margin: 10px;
    padding: 10px;
    width: 30vw;
    background-color:coral;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    border: 2px solid black;
}