/*#region CSS reset*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*#endregion */

*{
    font-family:cursive;
}

@media screen and (max-width: 768px) {
 
}

body{
    background-color: rgb(35,41,63);
}

.container {
    display: grid;
    justify-content: center;
    align-items: center;
}

.quiz-options {
    width: fit-content;
    height: fit-content;
    padding: 15px;
    background-color: aliceblue;
    border-radius: 20px;
    box-shadow: 10px 10px 5px black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1{
    text-align: center;
    justify-self: center;
    font-size: 2rem;
    font-weight: bold;
    margin: 100px;
    width: 40vw;
    color: rgb(192, 189, 189);
}

.quiz-option{
    margin: 10px;
    padding: 25px;
    width: 35vw;
    background-color: rgb(203,220,230);
    border-radius: 25px;
    text-align: center;
    cursor: pointer;
}
.quiz-option:hover{
    opacity: 0.6;
}
hr{
    margin: auto;
    height: 1.5px;
    width: 80%;
    background-color: rgb(100, 100, 99);
    margin-bottom: 30px;

}
#question-counter{
    color: rgb(192, 189, 189);
    margin: auto;
    text-align: center;
    justify-self: center;
    font-size: 1.2rem;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    
    
}
@media screen and (max-width: 800px) {
 
}